@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../font/Avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("../font/Avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"), url("../font/Avenir/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg"), url("../font/Avenir/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("../../font/Avenir/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"); }
@font-face {
  font-family: "AvenirNextLTPro-Medium";
  src: url("../font/Avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
  src: url("../font/Avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"), url("../font/Avenir/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg"), url("../font/Avenir/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"), url("../../font/Avenir/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"); }
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../font/Avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("../font/Avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../font/Avenir/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg"), url("../font/Avenir/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../../font/Avenir/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"); }
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../font/Avenir/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
  src: url("../font/Avenir/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"), url("../font/Avenir/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg"), url("../font/Avenir/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"), url("../../font/Avenir/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"); }
@font-face {
  font-family: 'fontello';
  src: url("../font/Fontello/utilityicon.eot?61184478");
  src: url("../font/Fontello/utilityicon.eot?61184478#iefix") format("embedded-opentype"), url("../font/Fontello/utilityicon.woff?61184478") format("woff"), url("../font/Fontello/utilityicon.ttf?61184478") format("truetype"), url("../../font/Fontello/utilityicon.svg?61184478#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }





    /* Telecom National Regular */
/*    @font-face {
        font-family: "TelecomNationalReg" !important;
        src: url("../font/TelecomNational-Regular/TelecomNationalWeb-Regular.eot") !important;
        src: url("../font/TelecomNational-Regular/TelecomNationalWeb-Regular.eot?#iefix") format("embedded-opentype"),
             url("../font/TelecomNational-Regular/TelecomNationalWeb-Regular.svg") format("svg"),
             url("../font/TelecomNational-Regular/TelecomNationalWeb-Regular.woff") format("woff"),
             url("../font/TelecomNational-Regular/TelecomNationalWeb-Regular.ttf") format("truetype") !important;
        font-style: normal;
        font-weight: 400;
        font-stretch: normal;
    }*/

    @font-face {
        font-family: 'TelecomNationalReg';
        src: url('../font/TelecomNational-Regular/TelecomNationalWeb-Regular.eot');
        src: url('../font/TelecomNational-Regular/TelecomNationalWeb-Regular.eot') format('embedded-opentype'),
             url('../font/TelecomNational-Regular/TelecomNationalWeb-Regular.woff') format('woff'),
             url('../font/TelecomNational-Regular/TelecomNationalWeb-Regular.ttf') format('truetype'),
             url('../font/TelecomNational-Regular/TelecomNationalWeb-Regular.svg#TelecomNationalReg') format('svg');
    }

    /* Telecom National Semibold */
/*    @font-face {
        font-family: "TelecomNationalSemibold" !important;
        src: url("../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.eot") !important;
        src: url("../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.eot?#iefix") format("embedded-opentype"),
             url("../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.svg") format("svg"),
             url("../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.woff") format("woff"),
             url("../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.ttf") format("truetype") !important;
        font-style: normal;
        font-weight: 600;
        font-stretch: normal;
    }*/

        @font-face {
        font-family: 'TelecomNationalSemibold';
        src: url('../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.eot');
        src: url('../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.eot') format('embedded-opentype'),
             url('../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.woff') format('woff'),
             url('../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.ttf') format('truetype'),
             url('../font/TelecomNational-Semibold/TelecomNationalWeb-Semibold.svg#TelecomNationalSemibold') format('svg');
    }

/*        @font-face {
        font-family: 'TelecomNationalExtrabold';
        src: url('telecomnational-extrabold.eot');
        src: url('telecomnational-extrabold.eot') format('embedded-opentype'),
             url('telecomnational-extrabold.woff') format('woff'),
             url('telecomnational-extrabold.ttf') format('truetype'),
             url('telecomnational-extrabold.svg#TelecomNationalExtrabold') format('svg');
    }*/

    /* Telecom National Extrabold */

    
    /*@font-face {
        font-family: "TelecomNationalExtrabold" !important;
        src: url("../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.eot") !important;
        src: url("../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.eot?#iefix") format("embedded-opentype"),
             url("../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.svg") format("svg"),
             url("../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.woff") format("woff"),
             url("../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.ttf") format("truetype") !important;
        font-style: normal;
        font-weight: 800;
        font-stretch: normal;
    }*/

    @font-face {
        font-family: 'TelecomNationalExtrabold';
        src: url('../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.eot');
        src: url('../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.eot') format('embedded-opentype'),
             url('../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.woff') format('woff'),
             url('../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.ttf') format('truetype'),
             url('../font/TelecomNational-Extrabold/TelecomNationalWeb-Extrabold.svg#TelecomNationalExtrabold') format('svg');
    }




 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-thumbs-down:before { content: '\e800' !important; } /* '' */
.icon-thumbs-up:before { content: '\e801' !important; } /* '' */
.icon-twitter:before { content: '\e802' !important; } /* '' */
.icon-facebook:before { content: '\e803' !important; } /* '' */
.icon-right-open-big:before { content: '\e804' !important; } /* '' */
.icon-plus-circle:before { content: '\e805' !important; } /* '' */
.icon-pencil:before { content: '\e806' !important; } /* '' */
.icon-facebook-squared:before { content: '\e807' !important; } /* '' */
.icon-cancel-circle:before { content: '\e808' !important; } /* '' */
.icon-plus:before { content: '\e809' !important; } /* '' */
.icon-minus:before { content: '\e80a' !important; } /* '' */
.icon-youtube-play:before { content: '\e80b' !important; } /* '' */
.icon-right-dir:before { content: '\e80c' !important; } /* '' */
.icon-youtube:before { content: '\e80d' !important; } /* '' */
.icon-ok-circle:before { content: '\e80e' !important; } /* '' */
.icon-x:before { content: '\e80f' !important; } /* '' */
.icon-arrow-right:before { content: '\e810' !important; } /* '' */
.icon-arrow-left:before { content: '\e811' !important; } /* '' */
.icon-play-circle2:before { content: '\e812' !important; } /* '' */
.icon-instagram:before { content: '\e813' !important; } /* '' */
.icon-down-open-big:before { content: '\e814' !important; } /* '' */
.icon-left-open-big:before { content: '\e815' !important; } /* '' */
.icon-up-open-big:before { content: '\e816' !important; } /* '' */
.icon-up-down-arrows:before { content: '\e817' !important; } /* '' */
.icon-spin:before { content: '\e818' !important; } /* '' */
.icon-speech:before { content: '\e819' !important; } /* '' */
.icon-speed-2:before { content: '\e81a' !important; } /* '' */
.icon-speed-1:before { content: '\e81b' !important; } /* '' */
.icon-menu:before { content: '\e81c' !important; } /* '' */
.icon-clock:before { content: '\e81d' !important; } /* '' */
.icon-usage:before { content: '\e81e' !important; } /* '' */
.icon-mobile:before { content: '\e81f' !important; } /* '' */
.icon-play:before { content: '\e820' !important; } /* '' */
.icon-speed-3:before { content: '\e821' !important; } /* '' */
.icon-pinterest:before { content: '\e822' !important; } /* '' */
.icon-gplus:before { content: '\e823' !important; } /* '' */
.icon-tablet:before { content: '\e824' !important; } /* '' */
.icon-speed-4:before { content: '\e825' !important; } /* '' */
.icon-speed-5:before { content: '\e826' !important; } /* '' */
.icon-speed-6:before { content: '\e827' !important; } /* '' */
.icon-down-micro:before { content: '\e828' !important; } /* '' */
.icon-up-micro:before { content: '\e829' !important; } /* '' */
.icon-minus-circle:before { content: '\e82a' !important; } /* '' */
.icon-broadband:before { content: '\e82b' !important; } /* '' */
.icon-ok:before { content: '\e82c' !important; } /* '' */
.icon-phone:before { content: '\e82d' !important; } /* '' */
.icon-hot:before { content: '\e82e' !important; } /* '' */
.icon-4g:before { content: '\e82f' !important; } /* '' */
.icon-plans:before { content: '\e830' !important; } /* '' */
.icon-battery:before { content: '\e831' !important; } /* '' */
.icon-calendar:before { content: '\e832' !important; } /* '' */
.icon-car:before { content: '\e833' !important; } /* '' */
.icon-chart-bar:before { content: '\e834' !important; } /* '' */
.icon-chat:before { content: '\e835' !important; } /* '' */
.icon-cloud-download:before { content: '\e836' !important; } /* '' */
.icon-cloud-upload:before { content: '\e837' !important; } /* '' */
.icon-cog:before { content: '\e838' !important; } /* '' */
.icon-cloud:before { content: '\e839' !important; } /* '' */
.icon-dollar-sign:before { content: '\e83a' !important; } /* '' */
.icon-credit-card:before { content: '\e83b' !important; } /* '' */
.icon-eye:before { content: '\e83c' !important; } /* '' */
.icon-flag:before { content: '\e83d' !important; } /* '' */
.icon-info:before { content: '\e83e' !important; } /* '' */
.icon-lock:before { content: '\e83f' !important; } /* '' */
.icon-home:before { content: '\e840' !important; } /* '' */
.icon-kiwi:before { content: '\e841' !important; } /* '' */
.icon-micro-memory-card:before { content: '\e842' !important; } /* '' */
.icon-lightning:before { content: '\e843' !important; } /* '' */
.icon-location:before { content: '\e844' !important; } /* '' */
.icon-micro-sim:before { content: '\e845' !important; } /* '' */
.icon-mini-memory-card:before { content: '\e846' !important; } /* '' */
.icon-mobile-devices:before { content: '\e847' !important; } /* '' */
.icon-mobile-edit:before { content: '\e848' !important; } /* '' */
.icon-music:before { content: '\e849' !important; } /* '' */
.icon-nano-sim:before { content: '\e84a' !important; } /* '' */
.icon-power-plug:before { content: '\e84b' !important; } /* '' */
.icon-laptop:before { content: '\e84c' !important; } /* '' */
.icon-question-mark:before { content: '\e84d' !important; } /* '' */
.icon-reload:before { content: '\e84e' !important; } /* '' */
.icon-router:before { content: '\e84f' !important; } /* '' */
.icon-setting:before { content: '\e850' !important; } /* '' */
.icon-sd-memory-card:before { content: '\e851' !important; } /* '' */
.icon-rocket:before { content: '\e852' !important; } /* '' */
.icon-sim-card:before { content: '\e853' !important; } /* '' */
.icon-hi:before { content: '\e854' !important; } /* '' */
.icon-speaker:before { content: '\e855' !important; } /* '' */
.icon-tie:before { content: '\e856' !important; } /* '' */
.icon-usb-drive:before { content: '\e857' !important; } /* '' */
.icon-angle-circled-up:before { content: '\e858' !important; } /* '' */
.icon-mail-alt:before { content: '\e859' !important; } /* '' */
.icon-telecom-mobile:before { content: '\e85a' !important; } /* '' */
.icon-van:before { content: '\e85b' !important; } /* '' */
.icon-download:before { content: '\e85c' !important; } /* '' */
.icon-upload:before { content: '\e85d' !important; } /* '' */
.icon-spark:before { content: '\e85e' !important; } /* '' */
.icon-browser:before { content: '\e85f' !important; } /* '' */
.icon-thumbs-up-1:before { content: '\e860' !important; } /* '' */
.icon-search:before { content: '\e861' !important; } /* '' */
.icon-data:before { content: '\e862' !important; } /* '' */
.icon-buy-phones:before { content: '\e863' !important; } /* '' */
.icon-business:before { content: '\e864' !important; } /* '' */
.icon-forgot-password:before { content: '\e865' !important; } /* '' */
.icon-comment:before { content: '\e866' !important; } /* '' */
.icon-free:before { content: '\e867' !important; } /* '' */
.icon-share-post:before { content: '\e868' !important; } /* '' */
.icon-basket:before { content: '\e869' !important; } /* '' */
.icon-instagram-1:before { content: '\e86a' !important; } /* '' */
.icon-solid-arrow-up:before { content: '\e86b' !important; } /* '' */
.icon-headphones:before { content: '\e86c' !important; } /* '' */
.icon-international-calling:before { content: '\e86d' !important; } /* '' */
.icon-mobile-calling:before { content: '\e86e' !important; } /* '' */
.icon-modem:before { content: '\e86f' !important; } /* '' */
.icon-internet:before { content: '\e870' !important; } /* '' */
.icon-moving-house:before { content: '\e871' !important; } /* '' */
.icon-user-1:before { content: '\e872' !important; } /* '' */
.icon-mail:before { content: '\e873' !important; } /* '' */
.icon-bill:before { content: '\e874' !important; } /* '' */
.icon-switch-1:before { content: '\e875' !important; } /* '' */
.icon-address:before { content: '\e876' !important; } /* '' */
.icon-solid-arrow-down:before { content: '\e877' !important; } /* '' */
.icon-solid-arrow-left:before { content: '\e878' !important; } /* '' */
.icon-solid-arrow-right:before { content: '\e879' !important; } /* '' */
.icon-nz:before { content: '\e87a' !important; } /* '' */
.icon-australia:before { content: '\e87b' !important; } /* '' */
.icon-minus-circled:before { content: '\e87c' !important; } /* '' */
.icon-plus-circled:before { content: '\e87d' !important; } /* '' */
.icon-cancel-circled:before { content: '\e87e' !important; } /* '' */
.icon-help-circled:before { content: '\e87f' !important; } /* '' */
.icon-updown-circle:before { content: '\e880' !important; } /* '' */
.icon-sim:before { content: '\e881' !important; } /* '' */
.icon-roaming:before { content: '\e882' !important; } /* '' */
.icon-refresh:before { content: '\e883' !important; } /* '' */
.icon-prepaid:before { content: '\e884' !important; } /* '' */
.icon-tools:before { content: '\e885' !important; } /* '' */
.icon-top-up:before { content: '\e886' !important; } /* '' */
.icon-upgrade:before { content: '\e887' !important; } /* '' */
.icon-win:before { content: '\e888' !important; } /* '' */
.icon-wifi:before { content: '\e889' !important; } /* '' */
.icon-doc-text-inv:before { content: '\e88a' !important; } /* '' */
.icon-down:before { content: '\e88b' !important; } /* '' */
.icon-up:before { content: '\e88c' !important; } /* '' */
.icon-right:before { content: '\e88d' !important; } /* '' */
.icon-left:before { content: '\e88e' !important; } /* '' */
.icon-thanks:before { content: '\e890' !important; } /* '' */