body {
  background-color: #eef5fc;
  color: #777777;
}
.AvenirNextLTPro-Regular, label, p, 
.help-block, .info-box, .table-card .table, 
#header .primary .search .input-append, #footer .nav .col a, 
#footer .bottom .wrap ul li a, 
.advance-price-card .inner-card .service-info .service-price .speed, .advance-price-card .inner-card .price-card-details a, 
body, p {
  font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
}


a {
 font-family: "TelecomNationalReg", "Arial", "Helvetica" ; 
}
p {
    font-size: 15px;
    color: #777;
  
}

input[type="radio"] + label span {
    margin-right: 10px;
    background: url("http://www.spark.co.nz/etc/designs/tnz/publish/img/decoradiobox.png") no-repeat;
    background-position: top left;
    height: 28px;
    width: 28px;
    font-family: TelecomNational-Regular;
    font-weight: 100;
    margin-top: -5px;
    /*margin-left: -27px;*/
    display: inherit;
    vertical-align: middle;
}

input[type="radio"]:checked + label span {
    margin-right: 10px;
    background: url("http://www.spark.co.nz/etc/designs/tnz/publish/img/decoradiobox.png") no-repeat;
    background-position: bottom left;
    height: 28px;
    width: 28px;
    font-family: TelecomNational-Regular;
    font-weight: 100;
    margin-top: -5px;
    /*margin-left: -27px;*/
    display: inherit;
    vertical-align: middle;
}

input,
input[type="text"],
input[type="password"] {  
  border: 2px solid #199bd5;
  color: #444344;
  border-radius: 5px;
  font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
  font-size: 15px;
}

.container-fluid {
  background-color: #ffffff;
  margin-top: 0px;
  padding: 0px;
  /*width: 980px !important;*/
  max-width: 980px !important;
}

.leftnavigation  {
  min-height: 600px; 
}
.leftnavigation-subpages {

}
h3 {
  color: #0089c0;
}
a:hover {
  text-decoration: none;
}
/*MENU Styles START*/
.mob-number {
  font-size: 20px !important;
}
#compactMobileNav ul.slide-tabs li.close-compact-nav {
  font-size: 32px !important;
  margin-top: 27px !important;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 200px;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica"; 
  color: #454C4D;
  margin-left: 10px;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {

  color: #454C4D !important;
  /*color: #444 !important;*/
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 15px;
  padding: 13px 0;
  border-top: none;
  text-shadow: 0px;
  cursor: pointer;
  z-index: 2;
}
#cssmenu ul li ul li a {
  font-family: "TelecomNationalReg", "Arial", "Helvetica" !important; 
font-size: 15px;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #454C4D;
  /*background: #1fa0e4;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1);
  background: -moz-linear-gradient(#1fa0e4, #1992d1);
  background: -o-linear-gradient(#1fa0e4, #1992d1);
  background: -ms-linear-gradient(#1fa0e4, #1992d1);
  background: linear-gradient(#1fa0e4, #1992d1);*/
}
#cssmenu > ul > li.open > a {
  /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;*/
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  /*border-bottom: 1px solid #1682ba;*/
}
/*#cssmenu ul ul {
  margin-left: 10px;
}*/
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
li.has-sub {
   background: #FFF url("../images/arrow-right.jpg") no-repeat top 13px right;
   padding: 15px 20px;
}
li.open {
   background: #FFF url("../images/arrow-down.jpg") no-repeat top 18px right;
   padding: 15px 20px;
}

#cssmenu ul ul li a {
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #454C4D;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  color: #454C4D;
  text-decoration: underline;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;

}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
    color: #0089c0;
    text-decoration: underline;
}
#cssmenu ul li.open a span {
    color: #0089c0;
    text-decoration: underline;
}

ul.view-data-activity li a span {
  color: #454C4D !important;
  text-decoration: none !important;
}
#cssmenu ul li.open ul li.view-data a span
{
    color: #0089c0 !important;
    text-decoration: underline !important;
}

#cssmenu ul li.active a {
    color: #0089C0 !important;
    text-decoration: underline;
}
#cssmenu ul li.active ul li a {
  text-decoration: none;
}
#cssmenu ul li.active ul li.active a {
  color: #0089C0 !important;
  text-decoration: underline;
}
#cssmenu > ul > li > ul > li > a span {
   color: #454C4D !important;
   text-decoration: none !important;
 
}
#cssmenu ul li.active.sub-selected { background-image: url(../images/arrow-down-dark.jpg); }
#cssmenu ul li.active.sub-selected a { text-decoration: none !important; }
#cssmenu ul li.active.sub-selected a span {
   color: #454C4D !important;
   text-decoration: none !important;
}
#cssmenu ul li.active.sub-selected ul li a { text-decoration: underline !important; }
#cssmenu ul li.active.sub-selected ul li a span {
  color: #0089C0 !important;
  text-decoration: underline;
}
.side-nav-title {
  /*margin-bottom: 20px;*/
  margin: 35px 0px 20px 0px;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
}

.slide-tabs {
  height: 96px;
}
#compactMobileNav ul.slide-depth li.shortcuts ul li {
  width: auto;
  padding-left: 20px;
  font-size: 25px;
}

ul.mobile-icons {
        width:100%;
        margin-top: 45px !important;
        text-align:center;
}
ul.mobile-icons li {
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
        margin-right:10px;
        padding-left: 50px !important;
        font-size: 16px !important;
}
ul.mobile-icons li img {
  padding-bottom: 10px;
}

.leftnavigation h3{
  font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
} 

.signout-link {
  color: #fff !important;
}
#header .secondary.expanded {
  min-height: 86px;
}
.secondary.expanded.show:after {
  height: 44px;
}
#header .secondary > ul > .wrap > li > ul {
  top: 46px;
}
button, .button, .btn {
  padding: 3px 10px 5px;
  width: auto !important;
}
/*MENU Styles END*/


.sidebar-button {
  background: url("https://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -160px -155px !important;
    height: 3em;
    width: 44px;
    max-width: 12%;
    float: left;
    display: inline-block;
    border-right: 1px solid #75cff4;
}




.data-remain-link {
  display: inline-block;
  color: #009ad8;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 1em; }

/*hr.self-servive-hr {
  margin: 0px 0px 0px 10px !important;
  border-bottom: 1px solid #e8e8e8;
  }*/

b {
  font-weight: bold !important; }

.renew-date {
  color: #de188b;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 16px;
  /*padding-bottom: 0.5em; */
}

.renwals-remaining {
  color: #de188b;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 14px;
  padding: 0 0 0.5em 0.2em; }

.usage-label {
  color: #777;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 15px;
  margin-top: 0.5em;
  margin-bottom: 10px; }
  .usage-label.over {
    color: #ff0000; }

.yph-right, .plan-extras-teaser, .help-suport-teaser, .advertisement-teaser {
  border: 1px solid #eeeee9;
  box-shadow: 1px 1px 1px #eeeee9;
  background: #fff; }

.yph-right h3 {
  color: #43338f;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 16px; }
.yph-right p {
  color: #43338f;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 1.5em; }

.plan-extras-teaser {
  width: 222px;
  height: 150px;
  float: left;
  margin-right: 15px; }
  .plan-extras-teaser h2 {
    color: #43338f;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 16px; }
  .plan-extras-teaser p {
    color: #9e9d9d;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 14px;
    margin: 4px 0 4px 0; }

.plan-extras-teaser > .extras {
  margin-top: 16px; }

.help-suport-teaser {
  width: 222px;
  height: 150px;
  float: left;
  margin-right: 15px; }
  .help-suport-teaser h2 {
    color: #43338f;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 16px; }
  .help-suport-teaser p {
    color: #9e9d9d;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 14px;
    margin: 4px 0 6px 0; }
  .help-suport-teaser h3 {
    color: #43338f;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 14px;
    margin: 15px 0 10px 0; }

.advertisement-teaser {
  width: 222px;
  height: 150px;
  float: left;
  margin-right: 15px; }
  .advertisement-teaser h2 {
    color: #43338f;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 18px; }
  .advertisement-teaser p {
    color: #9e9d9d;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 14px;
    margin: 4px 0 4px 0; }

.content-teaser {
  background: #fff;
  box-shadow: 1px 1px 1px #999999;
  width: 100%;
  margin: 25px 0 50px 0; }
  .content-teaser .title {
    color: #fff;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    background: #43338f;
    padding: 3px 5px;
    float: left;
    margin-bottom: 2px; }
    .content-teaser .title:first-child {
      margin-top: -14px; }
  .content-teaser h2 {
    color: #43338f;
    font-family: "TelecomNationalSemibold", "Arial", "Helvetica";
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 12px;
    padding-top: 12px;
    clear: both; }
  .content-teaser a {
    background: url("publish/img/sprite_icons.png") no-repeat -388px -415px;
    color: #75cff4;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 16px;
    display: block;
    margin-left: 15px;
    padding: 0 0 10px 15px; }
  .content-teaser img {
    width: 50px;
    margin-right: 6px;
    margin-bottom: 6px; }
  .content-teaser .teaser_txt {
    width: 135px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px; }
    .content-teaser .teaser_txt p {
      color: #43338f;
      font-family: "TelecomNationalReg", "Arial", "Helvetica";
      font-size: 15px; }

.livechat {
  color: #009ad8;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 22px;
  line-height: 44px;
  background: #fff;
  padding: 12px 20px;
  float: right;
  margin-right: 4px;
  box-shadow: 1px 1px 1px #bdbdbd;
  position: fixed;
  right: 0;
  top: 90%;
  z-index: 10; }
  .livechat:hover {
    cursor: pointer; }

.clear {
  clear: both;
}

.right-content {
}


/*COPIED FROM PUBLISH.css*/

/*#maincontent {
  margin-top: 25px;
}*/
#maincontent .row {
  /*padding-top: 10px;*/
  margin: 0px;
}
#maincontent .row.row-separate {
  /*border-bottom: 1px solid #e8e8e8;*/
  margin-left: 10px;
}
.row-separate div {
    padding-left: 0px;
    margin-left: 0px;
}
#maincontent .panel-link { color: #777; }

.bt_rs {
  float: right;
  width: 75px; }
  .bt_rs.fit { width: 120px; }
  .bt_rs .button {
    width: 100%; }

/*Your balance*/
.panel.mu_balance {
  background: #43338f;
  color: #fff;
  margin-bottom: 0px;
  /*padding: 10px 5px 10px 10px;*/
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  }
  .top-box {
    border-bottom: 1px solid #7267ac;
    padding-bottom: 10px;
    margin: 10px !important;
  }
  .top-box2 {
    /*padding-bottom: 10px;*/
    margin: 10px 10px 0px 10px !important;
  }
  .top-box div, .custom-box div {
    padding: 0px;
  }
  .top-box2 h5 {
    margin-top: -2px !important;
    margin-bottom: 0px !important;
  }
  .top-box2 p {
    font-size: 13.3px;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
  }
  .top-box2 p b {
    font-family: "TelecomNationalReg", "Arial", "Helvetica"; 
  }

  .dollar_symbol {
    content: attr(data-pre);
font-size: 13px;
padding-left: 2px;
letter-spacing: 0px;
display: inline;
position: relative;
top: -5px;
  }
  .panel.mu_balance h4 {
    color: inherit;
    color: #fff;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 1.125em;
    padding-top: 2px;
    text-transform: uppercase; }
  .panel.mu_balance p {
    color: inherit;
    color: #ffffff;
    padding-top: 1px;

    /*font-size: 0.8125em; */
  }
  .panel.mu_balance h5 {
    color: inherit;
    color: #fff;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 22px; 
    margin-right: 2%}
    .panel.mu_balance h5 sup {
      vertical-align: top;
      font-size: 0.5652em; }

.top-up-link a {
  margin: 0 17%; }

.payment-cards img {
  width: 30%;
  height: auto; }

.panel {
  border-radius: 0px !important;
}
.pay-bill-btn {
  /*width: 120px !important;*/
  height: 35px !important;
  font-size: 15px !important; 
}
button.buy-extra-btn {
  width: 100% !important;
}
#self-service-phone-number {
/*  background: url("../images/dropdown_arrow.png") no-repeat top 3px right;
  font-size: 22px !important;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  width: 155px;
  border: 0px !important;*/
  margin: 0px -5px;
 
}
select#self-service-phone-number {
/*    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border: none;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border: none;
    background: transparent url("../images/dropdown_arrow.png") no-repeat right center;
    font-size: 22px;
    border-radius: none;
}
.dropdown button {
  background: #43338F;
  background: transparent url("../images/dropdown_arrow.png") no-repeat right center;
  height: 34px;
  font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
  line-height: 20px;
  padding-left: 0px;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  min-width: 30px !important;
  position: relative;
  border: none;
}
.top-header-dropdown button {
  color: #ffffff !important;
  font-size: 22px !important;
  width: 160px !important;
}
.open button {
  background: url("../images/dropdown_arrow_select.png") no-repeat right center;  
}
.dropdown button.selected {
  /*background: #13A4DE;*/
  background: url("../images/dropdown_arrow.png") no-repeat right center;

}
.dropdown button:after {
  display: none;
}
.dropdown-menu {
  margin-left: -11px;
  padding-left: 10px;
}
.dropdown .dropdown-menu {
  background: #43338F;
  border: none;
  border-top: 0;
  color: #ffffff !important;
  box-shadow: none;
  float: none;
  font-size: 25px !important;
  left: 0.4px;
  position: absolute;
  right: auto;
  top: 42px;
  width: 45%;
  padding: 0;
  max-height: 320px;
  /*max-height: 250px;*/
  overflow: auto;
}
.dropmenu-menu-custom {
  top: 43px !important;
}

.dropdown ul.dropdown-menu {
  border-radius: 0px !important;
} 
.dropdown .dropdown-menu li { 
  border-top: 1px solid #7267AC; 
}
.dropdown .dropdown-menu li a {
  color: #ffffff !important;
  padding-left: 12px;
  font-size: 18px !important;
  padding: 12px 8px 12px 12px;
}
.dropdown-number.short {
  min-width: 125px;
}

.dropdown-number button {
  background: transparent url("../images/number-arrow-open.png") no-repeat right 10px center !important;
  border: 1px solid #eeeee9;
  color: #777 !important;
  font-size: 14px;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  height: 34px;
  line-height: 14px;
  padding: 10px;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  width: 100%;
  min-width: 90px !important;
  position: relative;
}

.mobile-number input {
    -moz-appearance: none;
    color: #777 !important;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #eeeee9 !important;
    font-size: 14px;
    font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
    height: 34px;
    line-height: 14px;
    box-sizing: border-box;
    width: 35%;
    margin-left: -2%;
    border-radius: 0px;
}
.dropdown-number ul.dropdown-menu {
  margin-left: 0px;
  padding: 10px;
  min-width: 90px !important;
  background-color: #ffffff !important; 
}
.dropdown-number ul.dropdown-menu li {
  border: none;
}
.dropdown-number ul.dropdown-menu > li > a {
  padding: 5px;
  color: #777 !important;
}
.dropdown-number button.selected {
  color: #777 !important;
  font-size: 14px !important;
    font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff !important;
    background: #13a4de none repeat scroll 0% 0% !important;
}
.dropdown-number .dropdown-menu > li > a:hover, 
.dropdown-number .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background: #13a4de none repeat scroll 0% 0%;
  } 

/* ==========================================================================
   $Your Balance
   ========================================================================== */
.bar-module-balance {
  background-color: #43338f;
  height: 56px;
  position: relative;
  margin-top: 0; }

.your-mobile-number {
  color: #b4add2;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica";
  font-size: 15px; }

.panel.your-mobile-content {
  background: #43338f;
  padding-top: 0;
  margin-bottom: 0; }
  .panel.your-mobile-content p {
    color: #fff;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 0.8125em; }

.top-up-button {
  display: inline-block;
  width: 100%;
  height: 35px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF27830', endColorstr='#FFF8A231');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyNzgzMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4YTIzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f27830), color-stop(100%, #f8a231));
  background: -moz-linear-gradient(bottom, #f27830, #f8a231);
  background: -webkit-linear-gradient(bottom, #f27830, #f8a231);
  background: linear-gradient(to top, #f27830, #f8a231);
  background-color: #f8a231;
  color: #fff;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #f8a231; }
  .top-up-button:hover {
    color: white; }

.bt-small-orange {
  display: inline-block;
  width: 100%;
  height: 35px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF27830', endColorstr='#FFF8A231');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyNzgzMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4YTIzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f27830), color-stop(100%, #f8a231));
  background: -moz-linear-gradient(bottom, #f27830, #f8a231);
  background: -webkit-linear-gradient(bottom, #f27830, #f8a231);
  background: linear-gradient(to top, #f27830, #f8a231);
  background-color: #f8a231;
  color: #fff;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #f8a231;
  cursor: pointer; }

button.disabled, .button.disabled, .btn.disabled {
    background: #e8e8e8;
    color: #989898;
    border-color: #e8e8e8;
    cursor: not-allowed;
}

button:hover, .bt-small-orange:hover, .top-up-button:hover {
  opacity: 0.9; }

.fancybox-overlay-fixed {
  position: fixed !important;
  bottom: 0;
  right: 0; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("publish/img/fancybox/fancybox_overlay.png"); }

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10010; }

.mybalance {
  /*margin-bottom: 10px; */
}


/* ==========================================================================
   $Bar Module Data
   ========================================================================== */
.bar-module {
  position: relative;
  background-color: #eeeee9;
  box-shadow: 0 5px 0 #8f7daf; }

  .bar-module.panel {
    padding-top: 6px;
    padding-bottom: 6px;
    height: 45px;
    line-height: 25px;
     }

.bar-module-headline-data {
  background: url("publish/img/sprite_icons.png") no-repeat -6px -3px;
  color: #444344;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 20px;
  text-transform: uppercase;
  /*padding-left: 25px;*/
  margin-top: 1px;
  white-space: nowrap;
  width: 40%;
}
.my-fav-number {
  padding-top: 4px;
  font-size: 15px;
}

.bar-module-headline-txt {
  background: url("publish/img/sprite_icons.png") no-repeat -50px -49px;
  color: #444344;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 25px;
  margin-top: 3px;
  width: 40%;}

.bar-module-headline-calls {
  background: url("publish/img/sprite_icons.png") no-repeat -90px -90px;
  color: #444344;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 25px;
  margin-top: 3px;
  width: 40%;}

.bar-module-headline-bundles {
  background: url("publish/img/sprite_icons.png") no-repeat -130px -130px;
  color: #444344;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 25px;
  margin-top: 3px; 
  width: 40%;}

.bar-module-headline-other {
  background: url("publish/img/sprite_icons.png") no-repeat -343px -24px;
  color: #444344;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 25px;
  margin-top: 3px; 
  width: 40%; }

.add-button {
  display: inline-block;
  *zoom: 1;
  width:100%;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF11A2DC', endColorstr='#FF6BCDF2');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExYTJkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiY2RmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #11a2dc), color-stop(100%, #6bcdf2));
  background: -moz-linear-gradient(bottom, #11a2dc, #6bcdf2);
  background: -webkit-linear-gradient(bottom, #11a2dc, #6bcdf2);
  background: linear-gradient(to top, #11a2dc, #6bcdf2);
  background-color: #6BCDF2;
  color: #fff;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 2px; 
  border-radius: 3px;
}
  .add-button.add-button-grey {
    background: #E8E8E8;
    color: #8C8C8C;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 0px;
    /*width: auto;*/
  }
  .add-button.fit {
    padding: 5px 10px;
    width: 75px; 
  }
  .add-button.add-button-grey:hover { color: #666; }
  .add-button:hover {
    color: white;
    opacity: 0.9; }
  .add-button:focus {
    color: #fff; }

.custom-add-btn {
  height: 28px;
  margin-top: 2px;
  max-width: 57px;
}
.remain {
  overflow: hidden;
 margin: 0 11px 10px;
 font-size: 15px; }
  .remain p {
    color: #7f569a;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 1em;
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 1.7em; }
    .remain p a {
      display: inline-block;
      color: #009ad8;
      font-family: "TelecomNationalReg", "Arial", "Helvetica";
      font-size: 1em; }
  .remain h3 {
    color: #43338f;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 18px;
    /*text-transform: capitalize;*/
    margin: 6px 0 10px 0 !important; }

  .purple-title {
    color: #43338f;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 18px;
    margin-top: 0px;
    padding-bottom: 10px;
      border-bottom: 1px solid #e3dfeb;
  }  
  .remain .progress {
    margin-bottom: 0 !important;
    background-color: #e0dee7;
    border: 0 !important;
    padding: 0 !important;
    height: 1.1em;
    position: relative;
    display: block;
    border: 1px solid white !important;
    overflow: initial;
    border-radius: initial;
    box-shadow: none; }
    .remain .progress .meter {
      background-color: #00ad65;
      float: left;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
      .remain .progress .meter.you { background-color: #433092; }
      .remain .progress .meter.allelse { background-color: #8F7DAF; }
      .remain .progress .meter.meter-red { background-color: #e34945; }
      .remain .progress .meter-green-muted { background-color: #b4d2b2; }

.legacy {
  background-color: #433092;
  display: inline-block;
  height: 10px;
  margin-left: 1px;
  margin-right: 6px;
  width: 10px;
}
.legacy.secondary { background-color: #8F7DAF; }
.legacy.red { background-color: #e34945; }

.remaining-data {
  color: #777;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 15px;
  display: inline-block;
  margin: 6px 0 0px 0; 
}
  .remaining-data.over {
    color: #ff0000; }

.expires-data {
  color: #777;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 15px;
  display: inline-block;
  float: right;
  padding: 0;
  margin: 6px 0 6px 0; }
  .expires-data.over {
    color: #ff0000; }
.plans-my-extras {
  color: #777;
  font-size: 15px;
}

.plans {
  color: #777;
  font-size: 15px;
  padding-left: 10px;
}
.plans table,
.plans-my-extras table {
  width: 100%;
}
.plans .left-column,
.plans-my-extras .left-column {
  vertical-align: top;
  width: 48%;
}
.data-remain-link {
  display: inline-block;
  color: #009ad8;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 1em; }

.additional-cost {
  background-color: #fff;
  border: 1px solid #8f7daf;
  position: relative;
  margin-top: 11px;
  margin-bottom: 0;
  padding-left: 10px;
   }
  .additional-cost .additional-link {
    /*background: url("http://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -370px -352px;*/
/*    background: url("../images/add_charges_arrow_open.png") no-repeat left;  
    display: block;
    padding: 13px 6px 13px 30px;
    margin-left: 10px;
    color: #009ad8;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-decoration: none; */


    background: url("http://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -370px -364px;
    display: block;
    padding: 6px 6px 6px 30px;
    color: #009ad8;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-left: 5px;



  }
    .additional-cost .additional-link.active {
      /*background: url("http://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -377px -430px;*/
      background: url("http://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -377px -441px;
      /*background: url("../images/add_charges_arrow_close.png") no-repeat left; */
      text-decoration: none !important;
      /*margin-left: 10px;*/
      }

.additional-remain {
  border: 1px solid #8f7daf;
   }
  .additional-remain ul {
    list-style: square;
    margin: 15px 0px 20px -5px;

     }
    .additional-remain ul li {
      color: #777;
      font-family: "TelecomNationalReg", "Arial", "Helvetica";
      /*font-size: 13px;*/
      /*padding-bottom: 0.5em; */
    }
.planextras-bttn {
  display: inline-block;
  background: #C5E6F3;
  color: #009AD8;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  width: auto;
  cursor: pointer; }
  .planextras-bttn.disabled {
    background: #cccccc;
    color: #999999;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 16px;
    text-transform: uppercase; }

button.planextras-bttn {
  display: inline-block;
  background: none repeat scroll 0 0 #C5E6F3;
  color: #009AD8;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid  #ffffff;
  border-radius: 5px;
  padding: 0px 15px;
  width: auto;
  cursor: pointer;
  margin: 5px 0px; }
  button.planextras-bttn.disabled {
    background: #cccccc;
    color: #999999;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 16px;
    text-transform: uppercase; }

    /* ==========================================================================
   $Mobile footer
   ========================================================================== */
.panel.footer-mobile {
  background: #EEEEE9; }
.footer-links {
  padding: 10px 0px;
}
.footer-links a {
  color: #009ad8;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 15px;
  line-height: 11px;
  text-align: center;
  display: block; }
.footer-links p {
  color: #433092;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 13px;
  text-align: center;
  margin: 0.5em; }

.top-link {
  margin-top: -50px;
  background: url("../images/link-to-top.png") no-repeat top;
  /*background-size: 550px;*/
  color: #433092;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5em;
  display: block; }
  .top-link:hover {
    color: #433092; }
  .top-link:visited {
    color: #433092; }
    .top-link:visited:hover {
      color: #433092; }
#footer #footer_channel {
  border-radius: 20px;
  max-width: 950px;
}
/**************/
.data-module-comp {
  margin-top: 20px;
}
.data-module-comp p {
  margin-bottom: 0px;
}
.first-use-activation {
  margin-top: 0px;
}
.data-module-comp h3 {
  margin-bottom: 0px;
  padding-top: 3px;
}
.margin-top10{
  margin-top: 10px;
}
.margin-top15{
  margin-top: 15px;
}
.margin-top20{
  margin-top: 20px;
}
.margin-bottom10{
  margin-bottom: 10px;
}
.margin-bottom15{
  margin-bottom: 15px;
}
.margin-bottom20{
  margin-bottom: 20px;
}
.margin-top30{
  margin-top: 30px;
}
.margin-bottom40{
  margin-bottom: 40px;
}
.no-left-padding {
  padding-left: 0px;
}
.padding-top5 {
  padding-top: 5px;
}
.padding-bottom5 {
  padding-bottom: 5px;
}
.padding-top8 {
  padding-top: 8px;
}
.padding-top10 {
  padding-top: 10px;
}
.padding-top15 {
  padding-top: 15px;
}
.padding-top20 {
  padding-top: 20px;
}
.padding-left0 {
  padding-left: 0px;
}
.padding-left10 {
  padding-left: 0px;
}
.openterm {
  color: #433092;
  padding-right: 10px;
}
.openterm-text {
  color: #433092 !important;
  /*padding-top: 5px !important;*/
  padding-left: 0px !important; 
}
.remain table {
  margin-left: 5px;
}
.icon-wifi {
 font-size: 25px;
}
.icon-thanks {
  font-size: 18px;
  padding-left: 4px;
}
 .icon-music  {
  font-size: 18px;
  padding-left: 4px;
}
.wifi-text {
  padding-bottom: 2px;
  clear: left;
  float: left;
}
.my-favourites {
  padding-right: 30px;
}
.no-padding {
  padding-left: 0px;
}
.error, .server-error {
  border: 3px solid #e34945;
  color: #e34945;
  border-radius: 5px;
  padding: 10px;
}
.select-amount .amount {
  padding-left: 0px;
}
#adhocTopUpOption .top-up-amount.active, 
#autoTopUpOption .top-up-amount.active, 
#chooseLowBalanceTopUp .top-up-amount.active, 
.auto-top-up-amount.active {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF43338F', endColorstr='#FF604494');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43338F), color-stop(100%, #604494));
    background: -webkit-linear-gradient(top, #43338F, #604494);
    background: -moz-linear-gradient(top, #43338F, #604494);
    background: -o-linear-gradient(top, #43338F, #604494);
    background: linear-gradient(top, #43338F, #604494);
    background-color: #604494;
    background: linear-gradient(to top, #43338F, #604494);
}

.top-up-amount.active {
    display: inline-block;
    width: 70px;
    /*width: auto;*/
    /*background: #604494 linear-gradient(to top, #11A2DC, #6BCDF2) repeat scroll 0% 0%;*/
    color: #FFF;
    font-family: "TelecomNationalExtrabold","Arial","Helvetica";
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF43338F', endColorstr='#FF604494');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43338F), color-stop(100%, #604494));
    background: -webkit-linear-gradient(top, #43338F, #604494);
    background: -moz-linear-gradient(top, #43338F, #604494);
    background: -o-linear-gradient(top, #43338F, #604494);
    background: linear-gradient(top, #43338F, #604494);
    background-color: #604494;
    background: linear-gradient(to top, #43338F, #604494);
    line-height: 28px;
}

.other-button {
  max-width: 130px;
  text-transform: initial;
}
.select-amount .add-button {
  width: 70px;
  line-height: 30px;
}
/* ==========================================================================
   $Data Remain for Buy Extras page
   ========================================================================== */
.buyextras .bundles-module-comp {
  margin: 20px 0 0 0; }
  .buyextras .bundles-module-comp.first-row {
    margin: 0; }
  .buyextras .bundles-module-comp .bar-module.panel {
    margin-bottom: 15px; }

.buyextras .remain-bex {
  margin: 10px 0 10px 11px; }

.month-value-bex {
  float: left;
  margin-right: 12px; }
  .month-value-bex h2 {
    color: #de188b;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 38px; 
    line-height: 23px;
  }
  .month-value-bex h4 {
    color: #f192bc;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 12px;
    padding-left: 15px; }
  .month-value-bex-mymobile h2 {
    margin-left: 10px;
  }  

.pack-value-bex {
  /*max-height: 81px;*/
  /*height: 90px;*/
  height: 84px;
  overflow: hidden;
  /*padding-top: 4px; */
}
  .pack-value-bex h3 {
    color: #009ad8;
    font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
    font-size: 23px;
    text-align: left;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    max-height: 46px;
    margin-bottom: 0.3em; 
    /*margin-top: 12px;*/

  }
  .pack-value-bex ul {
    padding-left: 0px;
  }
  .pack-value-bex li {
    float: left;
    color: #000;
    font-family: "TelecomNationalReg";
    font-size: 14px;
    background: url("../tnz/publish/img/sprite_retina_hr.png") no-repeat -365px -1375px;
    margin-right: 0.5em;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    max-width: 100%;
    display: table-cell;
    line-height: 10px;
    vertical-align: middle;
   }
    .pack-value-bex li.separator {
      font-weight: bold;
      font-size: 16px; }

.remain-buy-extras-link {
  /*padding-left: 10px;*/
  display: block;
  /* padding-right: 30px; */
  /* background: url("publish/img/arrow-right.png") no-repeat 98% 12px; */ }

#product_valuepack {

  border-bottom: 1px solid #ddd;
}

.data-price {
  background-color: #e3e3e3;
  float: left;
  margin: 8px 0px 0px 20px;
  height: 60px;
  width: 160px;
  position: relative;

}
.data-price .sash {
  position: absolute;
  float: right;
  z-index: 100;
  margin: -2px;
  text-align: right;
  right: 0;
}
.sash img {
  height: 50px;
  float: right;
}
.number {
  color: #000;
  font-size: 40px;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica" !important;
  margin-left: -10px;
}
.txt {
  font-size: 11px;
  padding-left: 3px;
}
.no-wrap {
  white-space: nowrap;
}
/* ==========================================================================
   $Buy Extras Details
   ========================================================================== */
.remain-detail-bex {
  margin: 0 11px 20px 11px;
  margin-top: 20px; }
  .remain-detail-bex h2 {
    color: #43338f;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
    font-size: 15px;
    margin-bottom: 10px; }

.detail-footer-links {
  margin-bottom: 3em; }
  .detail-footer-links li {
    float: left;
    color: #009ad8;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 14px;
    line-height: 14px;
    background: url("publish/img/sprite_icons.png") no-repeat -220px -212px;
    margin-right: 0.5em;
    padding-left: 0.5em; }
    .detail-footer-links li:first-child {
      background: none;
      padding-left: 0; }

.buy-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF27530', endColorstr='#FFF8A231');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyNzUzMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4YTIzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f27530), color-stop(100%, #f8a231));
  background: -moz-linear-gradient(bottom, #f27530, #f8a231);
  background: -webkit-linear-gradient(bottom, #f27530, #f8a231);
  background: linear-gradient(to top, #f27530, #f8a231);
  background-color: #f8a231;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4YTIzMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyNzUzMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f8a231), color-stop(100%, #f27530));
  background: -moz-linear-gradient(bottom, #f8a231, #f27530);
  background: -webkit-linear-gradient(bottom, #f8a231, #f27530);
  background: linear-gradient(to top, #f8a231, #f27530);
  color: #fff;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 25px;
  text-align: center;
  border: 1px solid  #f8a231;
  border-radius: 0.5px;
  padding: 6px 0;
  border-radius: 3px;
  cursor: pointer; }
  
.buy-button.disabled {
    box-shadow: none;
    text-shadow: none;
    cursor: default;
    border: none;
    background: #E8E8E8;
    border-radius: 5px;
    color: #989898;
    filter: none; }
.buy-button.disabled:hover {
      color: #989898;
      cursor: default; }
.buy-button.disabled:focus {
      outline: none; }

.extra-components .data-hdl, .extra-components .calls-hdl, .extra-components .txt-hdl, .extra-components .other-hdl, .extra-components .bundles-hdl {
  color: #7f569a;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 15px;
  padding-left: 2.2em;
  padding-top: 2px;
  margin-bottom: 0.2em; }
.extra-components .data-hdl {
  background: url("publish/img/sprite_icons.png") no-repeat -207px -643px; }
.extra-components .calls-hdl {
  background: url("publish/img/sprite_icons.png") no-repeat -139px -715px; }
.extra-components .txt-hdl {
  background: url("publish/img/sprite_icons.png") no-repeat -173px -678px; }
.extra-components .other-hdl {
  background: url("publish/img/sprite_icons.png") no-repeat -101px -757px; }
.extra-components .bundles-hdl {
  background: url("publish/img/sprite_icons.png") no-repeat -38px -784px; }
.extra-components p {
  color: #7f569a;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 15px;
  padding-left: 2em; }

.extra-details {
  margin: 1em 0; }
  .extra-details p {
    color: #777;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    font-size: 13px;
    line-height: 14px;
    padding-bottom: 6px; }

.extras-name {
  color: #444344;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica";
  font-size: 20px;
  padding: 6px;
  display: inline-block; }

.price-of-extras {
  color: #444344;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 16px;
  float: right;
  padding: 8px; }

.plain-msg {
  color: #9e9d9d;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 16px; }

.top-up-lbrt {
  margin-bottom: 1.8em;
  color: #009ad8;
  font-family: "TelecomNationalReg","Arial","Helvetica";
  font-size: 19px;
  text-align: center;
  padding-left: 12px;
  text-align: left;
  /*width: 27%;*/
  border: 2px solid #009ad8;
  border-radius: 4px;
  margin-top: 3%;
}
.myplans-info-box{
  border: 2px solid #199bd5;
  color: #199bd5;
  border-radius: 5px;
  padding: 10px;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  font-size: 15px;
}
.myplans-info-box a { 
  text-decoration: underline;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica";
 }
#enter-spark-number {
  border: 2px solid #199bd5;
  color: #777;
  border-radius: 5px;
  font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
  font-size: 15px;
}
#payments-enter-spark-number {
  border: 2px solid #199bd5;
  color: #777;
  border-radius: 5px;
  /*font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;*/
  font-size: 18px;
}
#enter-mobile-number {
  color: #199ad8;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  font-size: 18px;
}
input#enter-bill-price {
  border: 2px solid #199bd5;
  color: #777;
  border-radius: 5px;
  font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
  font-size: 22px;
  height: auto;
  padding:0px 0px 0px 12px !important; 
}
.topup-prepaid {
  margin: 15px 0px 15px 10px;
}
.prepaid-link {
  background: url("../images/side-arrow.png") no-repeat;
  padding-left: 20px;
  /*font-size: 15px;*/
}
.myplans-success-box{
  border: 2px solid #00ad65;
  color: #00ad65;
  border-radius: 5px;
  padding: 10px;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
    font-size: 15px;
}
.myplans-success-box p{
  color: #00ad65;
  line-height: 1;
}
.my-favourites-headline-calls {
  background: url("http://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -143px -715px;
  color: #43368d;
  padding-left: 30px !important;
  font-size: 16px !important;
  line-height: 18px;
  margin-left: 10px;
}

/*END BUY EXTRA*/
#spinner-image {
  width: 50px;
}
.spinner-txt {
  color: #4f438a;
  font-size: 20px;
}
.terms-conditions {
  padding: 15px 15px 10px 20px;
  color: #777;
}
.adding-number-modal {
  border: 2px solid #13A4DE;
  top: 400px;
  width: 350px;
  border-radius: 5px !important;
}
.added-number-modal {
  border: 2px solid #00ad65 !important;
}

.adding-number-modal .modal-content {
      /*border-radius: 5px !important;*/
}
.adding-number-modal .modal-body {
  padding: 20px;

} 
.modal-body .adding-number-title b {
  color: #13A4DE !important;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica" !important;
  font-size: 18px;
}
.modal-body .adding-number {
  color: #199bd5 !important;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  margin: 10px 0px;
}
.added-number-success b {
  color: #00ad65 !important;
  font-family: "TelecomNationalExtrabold", "Arial", "Helvetica" !important;
  font-size: 18px; 
}
.added-number-success-inner {
 color: #00ad65 !important;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  margin: 10px 0px; 
}

  .mobile-title {
    display: inline-block;
    height: 47px;
    /*margin-right: 14px;*/
    background: none;
    font-size: 17px;
    line-height: 50px;
    text-shadow: none;
    /*width: 100%;*/
  }
  .nav-title {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
    text-align: center;
    /*width: 100%;*/
  }

  .bill-price {
    font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
    font-size: 22px;
  }
  .opt_radio_txt {
    color: #43338f;
    font-size: 16px;
  }
  .opt_ol_opt {
    margin-bottom: 10px;
  }

/*DISPLAY NONE*/
ul.sb {
  display: none;
}


/* Tell me Yes or No */
button.onoff {
    width: 75px !important;
    border-radius: 4px;
    border: none;
    padding: 2px 8px 0px 8px;
    color: #fff;
    position: relative;
    font-size: 16px;
    font-family: "TelecomNationalReg", "Arial", "Helvetica";
    text-transform: uppercase;
    cursor: pointer;
}
button.onoff.yes {
    background-color: #F79E31;
    text-align: left;
}
button.onoff.no {
    background-color: #838080;
    text-align: right;
}
button.onoff .yn-switcher {
    display: inline-block;
    position: absolute;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBFBFBE', endColorstr='#FFF3F3F2');
    background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #bfbfbe), color-stop(100%, #f3f3f2));
    background: -moz-linear-gradient(bottom, #bfbfbe, #f3f3f2);
    background: -webkit-linear-gradient(bottom, #bfbfbe, #f3f3f2);
    background: linear-gradient(to top, #bfbfbe, #f3f3f2);
    background-color: #777575;
    background: linear-gradient(to top, #bfbfbe, #f3f3f2);
    width: 37px;
    border-radius: 4px;
    height: 100%;
    top: 0;
}
button.onoff.yes .yn-switcher {
    right: 0;
}
button.onoff.no .yn-switcher {
    left: 0;
}
.unlimited-button {
  float: left;
  /*width: 110px !important;*/
}
.my-settings-mobile-number {
  font-size: 18px;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica";
}
.my-settings-mobile {
  font-size: 20px;
  font-family: "TelecomNationalSemibold", "Arial", "Helvetica";
}
.mobile-text-number p {
  margin-bottom: 0px !important;
  line-height: 29px; 
}

@media screen and (max-width: 640px) { 
  .mobile-text-number p,.mobile-text p,.mobile-right {
    text-align: right;
  }
}

.mobile-text p {
  margin-bottom: 0px !important;
  line-height: 32px; 
}
.current-limit {
  font-size: 20px;
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  padding-right: 5px;
}
.casual-talk {
 font-size: 18px;
 font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important; 
 text-transform: uppercase;
}
.mymobile td {
  border-bottom: 1px solid #444;
  padding-left: 0px;
  padding-top: 5px;
  margin-bottom: 5px; 
}
/***Footer***/
.first-use-footer {
  text-align: center;
  width: 100%;
}
.first-use-footer a {
  /*float: left;*/
  list-style:none; 
  display: inline-block;
}
.first-use-footer a:first-child {
  padding-right: 10px;
}
.terms-footer-link {
  border-left: 1px solid #009AD8;
  padding-left:10px;
}

.padding-left-5{
  padding-left: 5px;
}
.padding-left-10{
  padding-left: 10px;
}

/*Slick starts*/
/* line 4, ../../scss/accessories/_details.scss */
.carousel {
  padding: 0 25px; }
  /* line 8, ../../scss/accessories/_details.scss */
  .carousel.carousel-prod-img {
    margin-bottom: 20px;
    padding: 30px 0 0; }
    /* line 12, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-img .slick-slide img {
      height: 350px;
      width: auto; }
    /* line 17, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-img .slick-slide.out-of-stock:before {
      background-color: rgba(255, 255, 255, 0.6);
      content: attr(data-message);
      /*font-family: 'AvenirNextLTPro-Bold', Calibri, Arial, sans-serif;*/
      font-size: 2.5em;
      height: 100%;
      padding-top: 175px;
      position: absolute;
      text-transform: uppercase;
      width: 350px; }
    /* line 29, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-img .slick-prev, .carousel.carousel-prod-img .slick-next {
      margin-top: 45px; }
  /* line 33, ../../scss/accessories/_details.scss */
  .carousel.carousel-prod-nav {
    padding-bottom: 20px; }
    /* line 36, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-nav img {
      cursor: pointer;
      height: 60px;
      width: 60px; }
    /* line 42, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-nav .slick-track {
      text-align: center; }
    /* line 44, ../../scss/accessories/_details.scss */
    .carousel.carousel-prod-nav .slick-slide {
      float: none;
      display: inline-block;
      margin: 0 5px;
      width: auto !important; }
  /* line 56, ../../scss/accessories/_details.scss */
  .carousel.carousel-list .slick-slide a {
    height: 100%;
    padding-bottom: 14px; }
  /* line 63, ../../scss/accessories/_details.scss */
  .carousel a {
    background-color: transparent;
    padding: 15px 20px 20px;
    width: 100%; }
    /* line 68, ../../scss/accessories/_details.scss */
    .carousel a:hover {
      background-color: rgba(0, 0, 0, 0.1); }
      /* line 71, ../../scss/accessories/_details.scss */
      .carousel a:hover .link {
        text-decoration: none; }
    /* line 78, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items p {
      margin-bottom: 12px;
      text-transform: uppercase; }
    /* line 85, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items .header + hr {
      margin: 10px 0 20px; }
    /* line 88, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items .device-img {
      margin-bottom: 15px; }
    /* line 90, ../../scss/accessories/_details.scss */
    .carousel a .carousel-items .link {
      background: none;
      border: none;
      color: #13a4de;
      font-size: 1em;
      line-height: 1;
      padding: 0;
      text-transform: initial; }

/* line 103, ../../scss/accessories/_details.scss */
.card .inner-card.carousel-header {
  padding-bottom: 0; }
  /* line 106, ../../scss/accessories/_details.scss */
  .card .inner-card.carousel-header h2 {
    margin: 0; }

/* line 112, ../../scss/accessories/_details.scss */
.device-colour-options {
  text-align: right; }
  /* line 115, ../../scss/accessories/_details.scss */
  .device-colour-options input[type="radio"] + label span {
    background: #EAEBEB;
    border: 2px solid #E2E2E2;
    height: 33px;
    width: 33px; }
    /* line 121, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.pink {
      background: #FC14DB; }
    /* line 123, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.blue {
      background: #005594; }
    /* line 125, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.purple {
      background: #A84EBC; }
    /* line 127, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.red {
      background: #C74E75; }
    /* line 129, ../../scss/accessories/_details.scss */
    .device-colour-options input[type="radio"] + label span.out-of-stock {
      background-image: url("../../gallery-page/j5/images/out-of-stock.png");
      background-repeat: no-repeat;
      background-position: center; }
  /* line 136, ../../scss/accessories/_details.scss */
  .device-colour-options input[type="radio"]:checked + label span {
    border-color: #EB0C8B; }

/* line 142, ../../scss/accessories/_details.scss */
.device-price {
  background: #fff;
  height: 118px;
  margin-bottom: 10px;
  position: relative;
  text-align: center; }
  /* line 149, ../../scss/accessories/_details.scss */
  .device-price.device-price-shade {
    background: rgba(0, 0, 0, 0.1);
    height: 110px; }
  /* line 154, ../../scss/accessories/_details.scss */

  /* line 157, ../../scss/accessories/_details.scss */
  .device-price .number {
    color: #414042;
    display: inline-block;
    font-size: 60px;
    letter-spacing: -4px;
    line-height: 80px;
    margin-left: -20px;
    margin-top: 15px; }
    /* line 166, ../../scss/accessories/_details.scss */
    .device-price .number:before {
      content: attr(data-pre);
      display: inline;
      font-size: 24px;
      letter-spacing: 0;
      padding-left: 2px;
      position: relative;
      top: -28px; }
    /* line 176, ../../scss/accessories/_details.scss */
    .device-price .number:after {
      content: attr(data-suff);
      font-size: 14px;
      letter-spacing: 0;
      padding-right: 5px; }
  /* line 184, ../../scss/accessories/_details.scss */
  .device-price .decimal {
    font-size: 25px;
    position: absolute;
    top: 25px; }

/* line 194, ../../scss/accessories/_details.scss */
.slick-slider {
  margin-bottom: 20px; }

/* line 196, ../../scss/accessories/_details.scss */
.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  filter: none;
  font-size: 0;
  height: 100%;
  line-height: 0;
  margin-top: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 99; }
  /* line 215, ../../scss/accessories/_details.scss */
  .slick-prev:active, .slick-prev:focus,
  .slick-next:active,
  .slick-next:focus {
    border: none;
    outline: none; }
/* line 221, ../../scss/accessories/_details.scss */
.slick-prev::before, .slick-next::before {
    background: #72d0f4 none repeat scroll 0 0;
    color: #199bd5;
    font-family: "fontello";
    font-size: 22px;
    padding: 12px 7px;
}

/* line 230, ../../scss/accessories/_details.scss */
.slick-next {
  right: 0; }

/* line 232, ../../scss/accessories/_details.scss */
.slick-prev {
  left: 0; }

/* line 234, ../../scss/accessories/_details.scss */
.slick-prev:before {
  content: "\e815"; }

/* line 236, ../../scss/accessories/_details.scss */
.slick-next:before {
  content: "\e804"; }

/* line 241, ../../scss/accessories/_details.scss */
.slick-slide {
  text-align: center; }

/* line 243, ../../scss/accessories/_details.scss */
.slick-slide > a,
.slick-slide > img,
.slick-slide img {
  display: inline-block; }

.slick-track div {
  outline: 0px !important;
}

/* line 250, ../../scss/accessories/_details.scss */
.content-block-header {
  margin-bottom: 0; }

/* line 255, ../../scss/accessories/_details.scss */
/*.dropdown:last-of-type {
  margin-top: 10px; }*/

/* line 260, ../../scss/accessories/_details.scss */
.blue_bg {
  background-color: #13a4de;
  padding: 20px; }
  /* line 264, ../../scss/accessories/_details.scss */
  .blue_bg.disabled {
    background-color: #BABCBE; }
    /* line 267, ../../scss/accessories/_details.scss */
    .blue_bg.disabled .blue.secondary.normal {
      color: #EBEBEC;
      background-color: #BABCBE;
      border-color: #fff; }
  /* line 274, ../../scss/accessories/_details.scss */
  .blue_bg .text-center {
    padding: 0; }
  /* line 276, ../../scss/accessories/_details.scss */
  .blue_bg .blue.secondary.normal {
    font-size: 1.65em;
    width: 100%; }

/* line 287, ../../scss/accessories/_details.scss */
.card.primary.small-form.animated h1 {
  max-width: 100%; }
/* line 289, ../../scss/accessories/_details.scss */
.card.primary.small-form.animated .content-block-header {
  border-bottom: 16px solid #bb0370;
  min-height: 100%;
  padding-bottom: 7px; }
/* line 295, ../../scss/accessories/_details.scss */
.card.primary.small-form.animated .inner-card {
  padding-bottom: 10px; }

/* line 300, ../../scss/accessories/_details.scss */
#detailsTabContent hr {
  margin: 20px 20px 10px; }
/* line 304, ../../scss/accessories/_details.scss */
#detailsTabContent .inner-card:first-of-type {
  padding-top: 0; }
/* line 306, ../../scss/accessories/_details.scss */
#detailsTabContent .inner-card:last-of-type {
  padding-bottom: 10px; }

/* line 4, ../../scss/accessories/_gallery.scss */
.inline-block {
  display: inline-block !important; }

/* line 5, ../../scss/accessories/_gallery.scss */
.block {
  display: block !important; }

/* line 7, ../../scss/accessories/_gallery.scss */
.no-margin {
  margin: 0; }

/* line 8, ../../scss/accessories/_gallery.scss */
.no-padding {
  padding: 0; }

/* line 9, ../../scss/accessories/_gallery.scss */
.margin-top {
  margin-top: 15px; }

/* line 10, ../../scss/accessories/_gallery.scss */
.margin-right {
  margin-right: 15px; }

/* line 11, ../../scss/accessories/_gallery.scss */
.margin-bottom {
  margin-bottom: 15px; }

/* line 12, ../../scss/accessories/_gallery.scss */
.margin-left {
  margin-left: 15px; }

/* line 17, ../../scss/accessories/_gallery.scss */
.nav-tabs.nav-justified li a h3 {
  line-height: 32px; }

/* line 21, ../../scss/accessories/_gallery.scss */
.carousel .slick-slide a {
  height: 170px;
  margin: 10px 0; }
  /* line 24, ../../scss/accessories/_gallery.scss */
  .carousel .slick-slide a:hover {
    background-color: white; }

/* line 29, ../../scss/accessories/_gallery.scss */
.dropdown.short .dropdown-menu {
  border-radius: 0;
  top: 35px; }

/* line 37, ../../scss/accessories/_gallery.scss */
.filter-box {
  line-height: 3;
  padding: 0 20px;
  z-index: 3000; }
  /* line 42, ../../scss/accessories/_gallery.scss */
  .filter-box .dropdown {
    margin-top: 0; }
    /* line 44, ../../scss/accessories/_gallery.scss */
    .filter-box .dropdown.short {
      min-width: 125px; }
  /* line 47, ../../scss/accessories/_gallery.scss */
  .filter-box .right-filter .inline-block {
    width: 50%;
    text-align: right;
    padding-right: 10px; }
  @media (max-width: 699px) {
    /* line 56, ../../scss/accessories/_gallery.scss */
    .filter-box .inline-block {
      width: 100%;
      margin: 0; }
    /* line 58, ../../scss/accessories/_gallery.scss */
    .filter-box .left-filter, .filter-box .right-filter {
      width: 100%; }
    /* line 63, ../../scss/accessories/_gallery.scss */
    .filter-box .right-filter .inline-block {
      width: 100%;
      text-align: left;
      padding-right: 0; } }

/* line 75, ../../scss/accessories/_gallery.scss */
#myResponsiveTabContent.tab-content {
  background-color: transparent;
  box-shadow: none;
  padding: 0; }

/* line 86, ../../scss/accessories/_gallery.scss */
.carousel-gallery.slick-slider {
  margin-bottom: 0; }
/* line 88, ../../scss/accessories/_gallery.scss */
/*.carousel-gallery + .inner-card {
  padding: 0 20px; }*/
  .data-activity .carousel-gallery + .inner-card {
  padding: 0 20px; }
  /* line 91, ../../scss/accessories/_gallery.scss */
  .carousel-gallery + .inner-card hr {
    margin: 0 0 20px; }

/* line 98, ../../scss/accessories/_gallery.scss */
.link-group.ticker ul a:first-of-type {
  color: inherit;
  cursor: default;
  /*font-family: 'AvenirNextLTPro-Regular';*/
  font-family: "TelecomNationalReg", "Arial", "Helvetica";
  margin-right: 10px; }

/* line 104, ../../scss/accessories/_gallery.scss */
.link-group.ticker ul a li {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 4px 2px 4px; }
  /* line 108, ../../scss/accessories/_gallery.scss */
  .link-group.ticker ul a li .icon-x {
    font-size: 10px;
    padding-right: 2px; }

/* line 121, ../../scss/accessories/_gallery.scss */
.device-card .inner-card hr {
  margin: 10px 0 20px; }
/* line 123, ../../scss/accessories/_gallery.scss */
.device-card .inner-card .header {
  text-align: center; }
  /* line 126, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .header h4 {
    margin: 0; }
/* line 129, ../../scss/accessories/_gallery.scss */
.device-card .inner-card .device-img {
  left: 30px;
  position: absolute;
  z-index: 1; }
/* line 135, ../../scss/accessories/_gallery.scss */
.device-card .inner-card .device-info {
  margin-top: 20px;
  padding-left: 0 !important;
  width: 100%; }
  /* line 140, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .device-info .device-price-buy {
    background-color: #E6E6E6;
    height: 100px;
    margin: 0; }

  .device-card .inner-card .device-info .device-price {
    background-color: #E6E6E6;
    height: 100px;
    margin: 0; }
    /* line 145, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .price-wrap {
      position: relative;
      width: 55%;
      float: right;
      height: 100%; }
    /* line 152, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .number {
      color: #333;
      font-size: 2.8em;
      display: inline-block;
      line-height: 1;
      margin: 10px auto;
      height: 30px;
      position: relative; }
      /* line 161, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .device-price .number:before {
        font-size: 15px;
        top: -17px;
        padding-left: 0; }
    /* line 168, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .decimal {
      color: #333;
      font-size: 20px;
      letter-spacing: -2px;
      display: inline-block;
      margin: -10px 0 0 5px; }
    /* line 176, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .device-price .prev-price {
      color: #333;
      font-family: "TelecomNationalReg", "Arial", "Helvetica";
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 60px;
      width: 100%;
      margin-left: 10px; }
  /* line 188, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .device-info .free {
    background-color: #FEF200;
    color: #333;
    font-size: 10px;
    line-height: 1.3;
    padding: 10px 10px 10px 53%;
    text-transform: uppercase; }
  /* line 197, ../../scss/accessories/_gallery.scss */
  .device-card .inner-card .device-info .available-colors {
    bottom: 10px;
    list-style: none;
    margin: 0;
    position: absolute;
    right: 20px; }
    /* line 204, ../../scss/accessories/_gallery.scss */
    .device-card .inner-card .device-info .available-colors li {
      background: #32312D;
      float: left;
      height: 10px;
      margin-right: 2px;
      width: 10px; }
      /* line 211, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.red {
        background: #F9443F; }
      /* line 212, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.navy {
        background: #444D65; }
      /* line 213, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.brown {
        background: #675149; }
      /* line 214, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.ivory {
        background: #E6D4C6; }
      /* line 215, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.pink {
        background: #F40EDF; }
      /* line 216, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.blue {
        background: #4E88C0; }
      /* line 217, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.purple {
        background: #A44BBD; }
      /* line 218, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.redwine {
        background: #BD4D74; }
      /* line 219, ../../scss/accessories/_gallery.scss */
      .device-card .inner-card .device-info .available-colors li.white {
        background: #fff;
        border: 1px solid #000; }

/* line 232, ../../scss/accessories/_gallery.scss */
.icon-filter {
  background: url("../../gallery-page/j5/images/filter-icons.png") 1px 1px no-repeat;
  height: 93px;
  margin: 0 auto;
  width: 93px; }
  /* line 238, ../../scss/accessories/_gallery.scss */
  .icon-filter.selected {
    background-position: 1px -107px; }
  /* line 242, ../../scss/accessories/_gallery.scss */
  .icon-filter + h4 {
    margin-top: 10px;
    text-transform: uppercase; }

/* line 248, ../../scss/accessories/_gallery.scss */
#brands .icon-filter {
  background-position: -92px 1px; }
  /* line 251, ../../scss/accessories/_gallery.scss */
  #brands .icon-filter.selected {
    background-position: -92px -107px; }

/* line 256, ../../scss/accessories/_gallery.scss */
#colours .icon-filter {
  background-position: -186px 1px; }
  /* line 259, ../../scss/accessories/_gallery.scss */
  #colours .icon-filter.selected {
    background-position: -186px -107px; }

/* line 264, ../../scss/accessories/_gallery.scss */
#deals .icon-filter {
  background-position: -278px 1px; }
  /* line 267, ../../scss/accessories/_gallery.scss */
  #deals .icon-filter.selected {
    background-position: -278px -107px; }

/* line 276, ../../scss/accessories/_gallery.scss */
.info-box.yellow a, .info-box.green a, .info-box.red a {
  background: #eee;
  padding: 2px 4px; }
/* line 282, ../../scss/accessories/_gallery.scss */
.info-box.white {
  padding-top: 20px; }
/* line 286, ../../scss/accessories/_gallery.scss */
.info-box .preffered-date {
  padding-top: 10px;
  padding-left: 20px; }
.card.secondary.custom-carousel{
    background-color: transparent;
    box-shadow: none;
}

.slick-slide > a{
  border-bottom: 1px solid #555;
  min-height: 210px;
}

/*Data Activity Starts*/
  .data-activity .chart {
    height: 165px;
    margin: 0 auto 0;
    display: block;
  }

  .data-activity .tab-pane {
    padding-top: 25px;
  }

  .data-activity .chart .numbers {
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
  }
  .data-activity .chart .numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 29px;
    position: relative;
    bottom: 30px;
  }
  .data-activity .chart .numbers li:last-child {
    height: 30px;
  }
  .data-activity .chart .numbers li span {
    color: #eee;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  .data-activity .chart #bars {
    display: inline-block;
    width: 600px;
    height: 179px;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .data-activity .chart #bars li {
    display: block;
    width: 100%;
    height: 165px;
    margin: 0;
    text-align: center;
    position: relative;
  }
  .data-activity .chart #bars li .bar {
/*    background: #e9e9ea none repeat scroll 0 0;
*/    bottom: 0;
    display: block;
    padding: 3px;
    position: absolute;
    width: 100%;
  }

  .data-activity .slick-slide > a {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0;
    min-height: 165px;
    position: relative;
  }

  .data-activity .slick-slide{
    position: relative;
  }


  .data-activity .slick-slide span {
      font-family: "TelecomNationalReg", "Arial", "Helvetica" ; 
  }

  .data-activity .arrow-down {
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
    border-top: 7px solid #414042 !important;
    bottom: 61px;
    height: 0;
    /*right: 39%;*/
    left: 36%;
    margin-left: 8px;
    position: absolute;
    width: 0;
    z-index: 99999999;
  }

/*  .slick-track:first-child .slick-slide > a  {
      padding-left: 0;
  }

  .slick-track:last-child .slick-slide > a {
      padding-left: 4px;
  }*/

  .data-activity .empty-grey-bar {
    background-color: #E9E9EA;
    border-top: 1px solid #000;
    height: 48px;
    margin-left: 25px;
    margin-top: -48px;
    margin-right: 25px;
  }

  .data-activity .empty-grey-bar-stacked {
      background-color: #e9e9ea;
      border-top: 1px solid #000;
      height: 68px;
      margin-bottom: 0;
      margin-left: 25px;
      margin-top: -68px;
      margin-right: 25px;
  }

/*  .data-activity .empty-grey-bar-stacked {
    background-color: #E9E9EA;
    border-top: 1px solid #000;
    height: 48px;
    margin-left: 25px;
    margin-top: -48px;
  }*/

/*  .carousel-items:last-child {
    margin-right: 0 !important;
  }

  .carousel-items:first-child {
      margin-left: 0 !important;
  }*/

  .data-activity .daily-usage .arrow-down{
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
    border-top: 7px solid #414042 !important;
    bottom: 41px;
    height: 0;
    /*right: 39%;*/
    left: 35%;
    margin-left: 8px;
    position: absolute;
    width: 0;
    z-index: 99999999;
  }


  .data-activity .slick-slide > p {
      border-top: 1px solid #414042;
      position: relative;
      z-index: 9999;
      background-color: #e9e9ea;
      margin-top: -22px;
      margin-bottom: -6px;
      padding: 6px 0;
      font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  }

  .data-activity .slick-slide > p {
      border-top: 1px solid #414042;
      position: relative;
      z-index: 9999;
      background-color: #e9e9ea;
      margin-top: -22px;
      margin-bottom: -6px;
      padding: 6px 0;
      font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  }

  .slick-track:first-child .slick-slide.slick-current.slick-active > a {
      padding-left: 0;
  }

  .data-activity .regular-font{
    font-family: "TelecomNationalReg", "Arial", "Helvetica" !important;
  }

  .data-activity .chart #bars li span {
    bottom: -2em;
    color: #fff;
    font-family: telecomnationalsemibold;
    left: 0;
    position: absolute;
    text-align: center;
    /*width: 77px;*/
  }
  .data-activity .light-orange{
      background-color: #F59E00 !important;
  }

  .data-activity .dark-orange{
      background-color: #f27800 !important;
  }


  .data-activity .dark-purple{
      background-color: #4F438A !important;
  }

  .data-activity .light-purple{
      background-color: #7F559C !important;
  }

  .data-activity .carousel-items {
      background-color: #e9e9ea;
      margin-left: 0;
      /*width: 71px;*/
      display: block;
      margin: 0 auto;
  }

  .data-activity .carousel-items:hover, .data-activity .carousel-items:hover + .data-activity .empty{
    background-color: #ccc;
  }
  
  .data-activity .data-size {
    background-color: #7f559c;
    border-radius: 50%;
    display: block;
    height: 65px;
    line-height: 18px;
    margin: 0 auto;
    padding: 20px 4px;
    /*position: absolute;*/
    top: 0;
    width: 65px;
  }

  .data-activity .data-num{
      position: relative !important; 
      top: 0px; 
      display: block; 
      font-size: 24px;
  }

  .data-activity .data-text {
    display: block;
    font-size: 11px;
    margin-top: -22px !important;
    position: relative !important;
    width: 100% !important;
  }

  .data-activity .small-text{
      font-size: 12px;
  }

  .data-activity .light-grey-bg{
      padding: 0;
  }

  .data-activity .light-grey-bg{
    background-color: #F6F6F6;
    display: block;
    list-style-type: none;
    margin-bottom: 3px;
    padding: 0;
    height: 26px;
  }
  .no-padding{
      padding: 0;
  }
  .data-activity .light-grey-bg span {
    line-height: 27px;
  }

  .data-activity .light-grey-bg img {
    height: 26px;
    width: 26px;
  }

  .data-activity .right-box-padding-7 {
    padding-right: 7px;
  }

  .data-activity .light-grey-bg .padding-left-5 {
      padding-left: 5px;
  }


  .right-align{
    text-align: right;
  }

  /*.data-activity .slick-slide.slick-current.slick-active > a:first-child {
      padding: 0;
  }*/

  /*.data-activity .link-group h5{
      margin-top: 0;
  }*/

  .data-activity .semi-bold {
      font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
  }
  .data-activity .extra-bold { 
      font-family: "TelecomNationalExtrabold", "Arial", "Helvetica"; 
  }
  .data-activity .purple-text { 
      font-family: "TelecomNationalExtrabold", "Arial", "Helvetica"; 
  }

  .data-activity h5 {
      font-family: "TelecomNationalExtrabold", "Arial", "Helvetica"; 
      font-size: 15px;
  }
  .data-activity .purple-text > span {
      font-family: "TelecomNationalReg", "Arial", "Helvetica";
      /*font-size: 16px;*/
  }
  .need-more-data {
      font-family: "TelecomNationalExtrabold", "Arial", "Helvetica" !important; 
  }
  .need-more-data a {
      color: #13a4de;
      font-family: "TelecomNationalReg", "Arial", "Helvetica" !important; 
      text-decoration: underline;
  }
  .data-activity .graph-container{
      width: 70px;
  }

  .data-activity .colWrapper {
    height: 164px;
    position: relative;
    width: 100%;
  }
  .data-activity .barContainer {
    bottom: -199px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 0 10px;
  }

  .data-activity .barContainer{
    content: attr(data-percentage) '%';
  }

/*  .data-activity .empty{
      background-color: #e9e9ea;
  }*/

  .no-margin{
      margin: 0 !important;
  }

  .data-activity .slick-slide > a {
    padding-left: 4px;
    padding-right: 0;
    width: 100%;
  }

/*  .data-activity .slick-slide {
    position: inherit;
  }*/

  .data-activity .stacked-bar-graph{
      padding-left: 0;
      padding-top: 20px;
  }

  .data-activity .link-group.ticker {
    margin-top: 10px;
    /*margin-bottom: 10px;*/
  }

  .data-activity .myplans-info-box {
      margin-top: -47px;
  }

  .no-margin-bottom{
    margin-bottom: 0;
  }

  .data-activity .slick-prev.slick-disabled::before, .data-activity .slick-next.slick-disabled::before {
    /*opacity: 0.25;*/
    display: none;
  }
  .data-activity .monthly-usage span.month {
    color: #414042;
    font-family: "TelecomNationalExtrabold", "Arial", "Helvetica"; 
    font-size: 15px;

  }

  .data-activity .ticker .purple-text {
      text-transform: none;
  }
  .data-activity .monthly-usage span {
    display: block;
    line-height: 15px;
  }

  .data-activity .month {
    margin-top: 5px;
  }

  .data-activity .monthly-usage {
    padding-bottom: 17px !important;
  }

  .data-activity .info-box{
      padding-left: 20px;
      padding-right: 20px;
  }
  .data-activity .light-grey-bg {
    font-size: 15px;
  }
  .data-activity .light-grey-bg .custom-col {
    width: 66%;
  }
  .light-grey-bg .small-text {
    padding: 0px;
  }
 .padding-left-0 {
  padding-left: 0px;
 }

/*  .data-activity .light-grey-bg span.semi-bold {
    line-height: 21px;
  }*/

 
/*Data Activity ends*/


/*# sourceMappingURL=accessories.css.map */
/*Slick Ends*/

/*MEDIA QURIES*/


/******************************MEDIA QURIES**********************/

@media screen and (min-width: 980px) { 
  .container-fluid {
    width: 980px !important;
  }
}



@media screen and (min-width: 940px) { 

  .right-content {
    margin: 20px;
  }
}


@media screen and (max-width: 939px) {


  .reload-button {
    background: url("http://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -275px -275px;
    height: 47px !important;
    width: 46px;
    /*max-width: 12%;*/
    float: right;
    display: inline-block;
    border-left: 1px solid #75cff4;
  }

  .floating-header-wrap {
    height: 48px !important;
    background: #13A4DE none repeat scroll 0% 0%;
  }

  #header {
    height: 47px !important;
  }

  .tablet-nav {
    background-color: #00a3e1;
    height: 47px;
    border-bottom: 2px solid #7ccdf2; 
  }
  button, .button, .btn {
    border: 0px;
  }
  /*#header .spark-logo.mobile {
    margin: 0px;
  }*/
  #header .spark-logo.mobile {
    margin: 0px 0 0 8px;
    border-left: 1px solid #7ccdf2;
    padding-right: 10px;
  }
  .tablet-nav .hamburger {
    border-right: 1px solid #7ccdf2;
  }

#compact-nav-toggle {
  color: #fff !important;
    min-width: 44px;
    width: 44px;
    display: inline-block;
    height: 47px;
    margin-right: 14px;
    background: none;
    /*font-size: 30px;*/
    text-shadow: none;
    margin: 0px;
    border-right: 1px solid #7ccdf2 !important;
  }
  .select-amount .amount {
    /*margin-right: 10px;*/
    width: 25%; 
  }
  .select-amount .row-last-btn {
    padding-right: 0px;
    
  }
  .last-btn {
    padding-left: 0px;
  }
  .other-button {
    margin-left: 10px;
    float: left;
    /*width: 90px !important;*/
  }
  .unlimited-button {
    margin-top: 10px;
    float: left;
    /*width: 120px !important;*/
  }
  .top-up-amount.active  {
    width: 100%;
    line-height: 29px !important;
  }
  .select-amount .add-button {
    width: 100%;
    line-height: 30px !important;
  }
  .other-button {
    width: 100%;
    line-height: 30px !important;
  }
  .fifty-dollar {
    line-height: 35px;
  }

}

 @media (max-width: 699px) {

      .data-activity .carousel-items {
          display: block;
          margin: 0 auto;
          position: relative;
          right: 0;
          width: 100%;
      }

      .data-activity .data-size {
        /*height: 61px;
        width: 61px;*/
        height: 70px;
        width: 70px;
      }

      .data-activity .additional-data {
          margin-top: 20px;
      }

      .data-activity .light-grey-bg span {
          /*font-size: 11px !important;*/
          /*padding: 3px 10px;*/
      }
      .data-activity .light-grey-bg {
        height: auto;
      }
      .data-activity .small-text {
        font-size: 14px;
      }

      .data-activity .link-group h3 {
        margin-left: 0px !important;
      }
      .data-activity .right-box-padding-7 {
        padding-right: 0px;
      }
      .data-activity .barContainer {
        position: relative;
        margin: 0 auto;
        width: 75%;
      }
  }


@media screen and (min-width: 640px) and (max-width: 939px) {

/*  .col-xs-12 {
    width: 100%;
    padding: 0px; 
  }*/
  #maincontent .row {
    padding: 10px;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff !important;
    background: #13a4de none repeat scroll 0% 0% !important;
}
.dropdown-number .dropdown-menu > li > a:hover, 
.dropdown-number .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background: #13a4de none repeat scroll 0% 0%;
  }
  .data-activity .right-box-padding-7 {
    padding-right: 0px;
  }
    .data-activity .light-grey-bg .custom-col {
    width: 67.3%;
  }
}

@media screen and (max-width: 639px) {
  body {
    background-color: #fff;
    /*margin: 10px;*/
  }
/*  #maincontent {
    margin-top: 25px;
}*/


  .panel.mu_balance {
    margin-top: -5px;
    padding-top: 10px;
  }

  /*Mobile Navigation*/
  #compact-nav-toggle.hamburger {
    border-right: 1px solid #7ccdf2;
  }
  .mobile-navigation {
    margin-bottom: 0px;
    
  }
.dropdown .dropdown-menu {
  width: 80% !important;
}

.top-box2 h5 {
  margin-top: 12px !important;
}
  .container-fluid {
    padding: 0px;
  }
  #maincontent {
    margin-top: 0px;
  }
  .openterm-text {
    padding-left: 20px;
  }
  .icon-thanks {
    padding-left: 0px;
  }
  .icon-wifi {
    padding-left: 3px;
  }
  .month-value-bex {
    margin-top: 7px;
  }
  .pack-value-bex h3 {
    margin-top: 18px;
  }


  .my-favourites-headline-calls {
    background: url("http://www.spark.co.nz/etc/designs/tnz_selfservice/publish/img/sprite_icons.png") no-repeat -143px -715px;
  }
  .dropdown-number button {
    background: transparent url("../images/number-arrow-open.png") no-repeat right 10px center !important;
    border: 1px solid #eeeee9;
    color: #777 !important;
    font-size: 14px;
    font-family: "TelecomNationalSemibold", "Arial", "Helvetica" !important;
    height: 34px;
    line-height: 14px;
    padding: 10px;
    text-align: left;
    text-shadow: none;
    text-transform: none;
    width: 100%;
    min-width: 65px !important;
    position: relative;
  }
  .mobile-number input {
    width: 97%;
    margin-left: 3%;
  }
  .adding-number-modal {
    margin: 2%;
    width: 96%;
  }
  .data-price {
    background-color: #e3e3e3;
    float: left;
    margin: 8px 0px 0px 20px;
    height: 60px;
    width: 145px;
    position: relative;
  }
  /*.top-up-amount.active {
    width: 70px;
  }*/

  .data-activity .right-box-padding-7 {
    padding-right: 0px;
  }
  .data-activity .light-grey-bg .custom-col {
    width: 67.3%;
  }

    .data-activity .daily-usage .arrow-down{ 
      left: 38%;
    }
    .data-activity .arrow-down {
      left: 40%;
    }
}

@media screen and (min-width: 940px) and (max-width: 1023px) {
    .data-activity .arrow-down {
      left: 41%;
    }
}
@media screen and (min-width: 700px) and (max-width: 939px) {
    .data-activity .arrow-down {
      left: 42%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .stacked {
    width: 50%;
    margin: 0px auto;
  }
    .data-activity .daily-usage .arrow-down{ 
      left: 41%;
    }

}

@media screen and (min-width: 639px) and (max-width: 750px) {
  .data-activity .light-grey-bg .custom-col {
    width: 65%;
  }
  .light-grey-bg .small-text {
    width: 40%;
  }
  .data-activity .additional-data {
    margin-top: 0px;
  }
      .data-activity .daily-usage .arrow-down{ 
      left: 42%;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .data-activity .padding-right-0 {
    padding-right: 0px;
  }
}

@media screen and (min-width: 640px) and (max-width: 760px) {
  .data-activity .arrow-down {
      left: 41%;
    }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .data-activity .arrow-down {
      left: 37%;
    }
}

@media screen and (max-width: 480px) {
    .data-activity .data-size {
        /*height: 61px;
        width: 61px;*/
        height: 78px;
        width: 78px;
      }
/*      .data-activity .light-grey-bg span {
        padding: 0px;
      }*/
    .data-activity .light-grey-bg .custom-col {
      width: 64%;
    }

  }

@media screen and (min-width: 320px) and (max-width: 365px) {
  .data-activity .arrow-down {
      left: 36%;
    }
}


@media screen and (max-width: 320px) {
  .select-amount .amount {
    width: 65px;
  }
   .data-activity .arrow-down {
      left: 35%;
    }

}
